button {
    background-color: rgba(12, 12, 46, 1);
    cursor: pointer;
    border-radius: 5px;
    padding: 0.75em 3em;
    text-transform: uppercase;
    margin-inline: 1em;
    margin-bottom: 2em;
    border: none;
    font-size: inherit;
}

button:hover {
    background-color: rgba(19, 19, 48, 0.6);
}