.form {
    
    width: fit-content;
    margin: 0 auto;
}

input, button {
   margin-bottom: 2em;
   background-color: rgb(18, 58, 45);
   border: none;
   font-size: inherit;
}

input {
    display: block;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
    outline: none;
    padding: 1em 0.25em 0.5em;
    width: max(250px, 30%);
    margin-inline: auto;
}

button {
    background-color: rgb(12, 12, 46);
    cursor: pointer;
    border-radius: 5px;
    padding: 0.75em 3em;
    text-transform: uppercase;
    margin-inline-start: 1em;
}

button:hover {
    background-color: rgb(19, 19, 48);
}

.flex {
    display: flex;
  }
